<!DOCTYPE html>
<html>
<head>
  <title>Cassette Rack</title>
  <style type="text/css">
    body { background-color: #fff; color: #333; }

    body, p, ol, ul, td {
      font-family: helvetica, verdana, arial, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }

    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
      white-space: pre-wrap;
      margin-left: 20px;
    }

    h2 { padding-left: 10px; }
    h3 { padding-left: 10px; }
    ol { padding-left: 10px; }

    #header {
      position: relative
    }

    #wrapper {
      float: left;
      width: 100%
    }

    #content {
      margin-left: 140px;
      border-left: solid #ccc;
    }

    #sidebar {
      float: left;
      width: 140px;
      margin-left: -100%;
      background: #fff;
      border-right: solid #ccc;
    }

    #tree li { list-style: none; }

    #tree li label.branch {
      position: relative;
    }

    #tree li label.branch:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -10px;
      margin-top: -4px;
      border: 4px solid transparent;
      border-left: 7px solid #999;
    }

    #tree li .branch { cursor: pointer; }
    #tree li .branch + input[type=checkbox] { opacity: 0; }
    #tree li .branch + input[type=checkbox] + ol > li { display: none; }
    #tree li .branch + input[type=checkbox]:checked + ol > li { display: block; }

    #tree li .leaf { padding-left: 10px; }
    #tree li .leaf > a { color: #333; text-decoration: none; }
    #tree li .leaf > a:visited { color: #333; }
    #tree li .leaf > a:hover { color: #333; background-color:#fff; }
    #tree li .active { background-color: #999; }
    #tree li .active > a:visited { color: #fff; }
    #tree li .active > a:hover { color: #fff; background-color:#999; }

    div.scroll {
      width: 130px;
      overflow: scroll;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="header">
      <h2>Cassette Rack</h2>
      <p>Operation of the Video Cassette Recorder</p>
    </div>
    <div id="wrapper">
      <div id="content">
        {{ cassette_tag }}
      </div>
    </div>
    <div id="sidebar" class="scroll">
      {{ cassettes_tag }}
    </div>
  </div>
</body>
</html>
