<!DOCTYPE html>
<html>
<head>
  <title>Cassette Rack</title>
  <style type="text/css">
    body { background-color: #fff; color: #333; }

    body, p, ol, ul, td {
      font-family: helvetica, verdana, arial, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }

    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
      white-space: pre-wrap;
      margin: 0px;
    }

    h2 { padding-left: 10px; }
    ol { padding-left: 10px; }

    #header {
      position: relative
    }

    #wrapper{
      float: left;
      width: 100%
    }

    #content{
      margin-left: 140px;
      border-left: solid #ccc;
    }

    #sidebar{
      float: left;
      width: 140px;
      margin-left: -100%;
      background: #fff;
      border-right: solid #ccc;
    }

    li { list-style: none; }

    li .branch { cursor: pointer; }
    li .branch + input[type=checkbox] { opacity: 0; }
    li .branch + input[type=checkbox] + ol > li { display: none; }
    li .branch + input[type=checkbox]:checked + ol > li { display: block; }

    li .leaf { padding-left: 10px; }
    li .leaf > a { color: #333; text-decoration: none; }
    li .leaf > a:visited { color: #333; }
    li .leaf > a:hover { color: #333; background-color:#fff; }
    li .active { background-color: #999; }
    li .active > a:visited { color: #fff; }
    li .active > a:hover { color: #fff; background-color:#999; }

    div.scroll {
      width: 130px;
      overflow: scroll;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="header">
      <h2>Cassette Rack</h2>
      <p>Operation of the Video Cassette Recorder</p>
    </div>
    <div id="wrapper">
      <div id="content">
        <pre>
          <%= cassette_tag %>
        </pre>
      </div>
    </div>
    <div id="sidebar" class="scroll">
      <%= cassettes_tag %>
    </div>
  </div>
</body>
</html>
